<main class="max-w-4xl mx-auto px-6 py-10">
  <div class="rounded-2xl shadow bg-white overflow-hidden" style="opacity: 1; transform: none;">
    <div class="p-6 space-y-8">
      <div class="space-y-2">
        <h2 class="text-3xl font-bold text-[#144B7F] mb-5">
          Reportes
        </h2>

        <%= link_to "Promedio de estadía por inmueble", admin_reports_average_duration_path, class: "inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 [&amp;_svg]:size-4 shadow h-10 py-2 bg-[#FF6C1E] text-white rounded-xl px-6 hover:bg-orange-600" %>
        <%= link_to "Alquileres por día de la semana", admin_reports_rentals_by_weekday_path, class: "inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 [&amp;_svg]:size-4 shadow h-10 py-2 bg-[#FF6C1E] text-white rounded-xl px-6 hover:bg-orange-600" %>
      </div>
    </div>
  </div>
</main>
