<h1>Benvenido a Alquiler Express, <%= @customer.first_name %></h1>
<p>
  Su cuenta de usuario ha sido creada exitosamente.
</p>
<p>
  Para iniciar sesión, dirígase al siguiente link: <%= link_to 'login', new_session_url %>.
</p>
